#home-page-search-main {
  width: 100vw;
  overflow: hidden;
}

.form-row-container {
  height: 80px;
}
#searchinput-field {
  height: 100%;
  outline: none !important;
}
#searchinput-field:focus{
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

#searchinput-field:focus::placeholder{ 
  color: transparent;
}
#search-button {
  margin: 0 0 0 8px;
  width: 80px;
  border-radius: 10%;
  color: black;
  background-color: rgba(255, 255, 255, 0.247)
  /*background-color: rgba(61, 112, 130, 0.44);*/
}
#search-button:hover{
  cursor: pointer;
}
