.card-container {
  width: 100vw;
  margin: 10px auto 10px auto;
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
}

.card {
  border: 1px solid black;
  margin: 3%;
  background-color: grey;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  background-color: gray;
}
